<%= form_with(model: hm_review, local: true) do |form| %>
  <% if hm_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hm_review.errors.count, "error") %> prohibited this hm_review from being saved:</h2>

      <ul>
      <% hm_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hm_name %>
    <%= form.text_field :hm_name %>
  </div>

  <div class="field">
    <%= form.label :hm_creator %>
    <%= form.text_field :hm_creator %>
  </div>

  <div class="field">
    <%= form.label :hm_comment %>
    <%= form.text_field :hm_comment %>
  </div>

  <div class="field">
    <%= form.label :hm_point %>
    <%= form.text_field :hm_point %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.datetime_select :updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
