<p id="notice"><%= notice %></p>

<p>
  <strong>Hm name:</strong>
  <%= @hm_review.hm_name %>
</p>

<p>
  <strong>Hm creator:</strong>
  <%= @hm_review.hm_creator %>
</p>

<p>
  <strong>Hm comment:</strong>
  <%= @hm_review.hm_comment %>
</p>

<p>
  <strong>Hm point:</strong>
  <%= @hm_review.hm_point %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @hm_review.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @hm_review.updated_at %>
</p>

<%= link_to 'Edit', edit_hm_review_path(@hm_review) %> |
<%= link_to 'Back', hm_reviews_path %>
